.extra-margin-md {
  margin-top: 50px;
}

.btn {
  width: 100%;
  margi-top: 15px;
}

h2 {
  text-align: center;

}

.card-title {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 15px;

}

.card-text {
  font-size: 22px;
  padding: 25px;
}

footer {
  margin-top: 100px;
}

.header {
  background-color: red;
}
